@import "mixins";

body {}

#filelist {
  display: table;
  width: 100%;

  &.popup {
    .file-item {
      width: 15%;
    }
  }
}

.file-item {
  display: table-cell;
  float: left;
  height: 121px;
  line-height: 121px;
  width: 48%;
  position: relative;
  margin: 0.82% !important;
  overflow: hidden;
  border: 1px solid #eee;
  text-align: left;
  vertical-align: middle;
  color: darken(#eee, 50%);

  &.active {
    border: 5px solid #337ab7;
  }

  &:hover {
    .file-item__hover {
      display: block;
    }
  }

  .file-item__hover {
    position: absolute;
    top: 4%;
    left: 4%;
    background: rgba(225, 225, 225, 0.95);
    width: 92%;
    height: 92%;
    line-height: 1.2;
    padding: 8%;
    display: none;

    label {
      margin-left: 3%;
      padding: 0;
    }

    .remove_image {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  @include breakpoint(m) {
    width: 30%;
  }


  @include breakpoint(l) {
    width: 15%;
  }
}

.file-item--file {
  text-align: center;
  line-height: 1.4;

  .file-item__hover {
    text-align: left;
  }

  .fa-link {
    position: absolute;
    top: 10px;
    right: 30px;
  }
}

.select_image {
  display: block;
  overflow: hidden;
  text-align: center;

  @include font-size(70);

  span {
    display: block;

    @include font-size(14);
  }
}

.modal-content {
  .file-item {
    width: 15%;
    position: relative;

    .file-item__hover {
      a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        line-height: 1;
      }
    }
  }
}

.dropzone {
  margin-top: 20px;
  border: 5px dashed #eee;
  color: darken(#eee, 50%);
}

.modal-dialog {
  @include breakpoint(l) {
    width: 850px;
  }
}
